@font-face {
  font-family: 'MomoSignature';
  src: url("./assets/fonts/MomoSignature-Regular.ttf");
}

.serie {
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: black;
    margin: 0.25rem 0rem;
    background-color: olivedrab;
    padding: 0.3rem;
    border: solid;
    border-color: black;
    border-radius: 8px;
}

.serie img {
    height: 80%;
    width: 10%;
}

.serie span {
    flex: 1;
    text-align: center;
    font-family: "MomoSignature", cursive;
}

.favourite-icon {
    color:black;
    margin-right: 0.5rem;
    font-size: 1.5rem;

}

.favourite {
    color: rgb(189, 11, 11);
}